
:root
{
    --pink:#e5345b;
}
/*navbar*/

.navbar
{
    box-shadow: 0 3px 9px 3px rgba(0, 0 ,0,0.1);
}
.navbar-brand img
{
    width: 2rem;
}
.nav-link:hover
{
    color:var(--pink)!important;
}
.nav-item
{
    border-bottom: 0.5px solid rgba(0, 0 ,0,0.05) ;
}
/* header */
#header{
    background: url('../images/poster.png') top/cover no-repeat;
}

.carousel-inner h1{
    font-size: 60px;
    font-family: var(--lg-font);
}
.carousel-item .btn{
    border-color: #fff!important;
}
.carousel-item .btn:hover{
    border-color: var(--pink)!important;
}
/* title */
.title h2::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: var(--pink);
    left: -20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
/* footer */
footer .brand{
    font-family: var(--lg-font);
    letter-spacing: 2px;
}
footer a{
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
footer a:hover{
    color: var(--pink)!important;
}